In [2]:
import pandas as pd

In [3]:
benchmark_df = pd.read_csv("result_benchmark.csv", index_col=False)
benchmark_df = benchmark_df[["scenario", "stage1_cost", "stage1_pen", "stage2_pen", "objective", "solve_time", "total_time"]]
benchmark_df = benchmark_df[40:].reset_index(drop=True)
benchmark_df["termination_status"] = "LOCALLY_SOLVED"
benchmark_df["type"] = "benchmark"
benchmark_df.head()

,scenario,stage1_cost,stage1_pen,stage2_pen,objective,solve_time,total_time,termination_status,type
0,scenario_180,34241.905263,0.031294,1.293391e+06,1.327633e+06,9.249415,24.821975,LOCALLY_SOLVED,benchmark
1,scenario_181,33825.228474,0.031172,1.319631e+06,1.353456e+06,9.217169,24.857571,LOCALLY_SOLVED,benchmark
2,scenario_182,34118.994120,0.030661,1.348910e+06,1.383029e+06,9.217134,24.694096,LOCALLY_SOLVED,benchmark
3,scenario_183,34744.145669,0.031155,1.265011e+06,1.299755e+06,9.237945,24.811435,LOCALLY_SOLVED,benchmark
4,scenario_184,34358.823233,0.031064,1.321100e+06,1.355459e+06,9.222056,24.928028,LOCALLY_SOLVED,benchmark

In [4]:
hidden_8_df = pd.read_csv("result_hidden_8_l1_41_grad_41_best.csv", index_col=False)
hidden_8_df = hidden_8_df[40:].reset_index(drop=True)
hidden_8_df["termination_status"] = "LOCALLY_SOLVED"
hidden_8_df["type"] = "hidden_8"
hidden_8_df.head()

,scenario,stage1_cost,stage1_pen,stage2_pen,objective,solve_time,termination_status,type
0,scenario_180,43373.991248,0.057635,606427.414763,649801.463646,4.516358,LOCALLY_SOLVED,hidden_8
1,scenario_181,42943.741314,0.058254,600476.847788,643420.647356,3.652387,LOCALLY_SOLVED,hidden_8
2,scenario_182,43265.274912,0.057441,602151.043580,645416.375932,5.711839,LOCALLY_SOLVED,hidden_8
3,scenario_183,43720.163135,0.057487,618065.106067,661785.326689,6.784605,LOCALLY_SOLVED,hidden_8
4,scenario_184,43320.062931,0.058275,615020.781003,658340.902209,4.249261,LOCALLY_SOLVED,hidden_8

In [5]:
hidden_8_prune_df = pd.read_csv("result_hidden_8_l1_41_grad_41_pruned.csv", index_col=False)
hidden_8_prune_df["termination_status"] = "LOCALLY_SOLVED"
hidden_8_prune_df["type"] = "hidden_8_prune"
hidden_8_prune_df.head()

,scenario,stage1_cost,stage1_pen,stage2_pen,objective,solve_time,termination_status,type
0,scenario_140,44013.013681,0.057472,625567.582352,669580.653506,6.209550,LOCALLY_SOLVED,hidden_8_prune
1,scenario_141,43376.582788,0.057446,605819.208633,649195.848868,6.199078,LOCALLY_SOLVED,hidden_8_prune
2,scenario_142,39319.518984,0.542944,764339.861454,803659.923381,9.657878,LOCALLY_SOLVED,hidden_8_prune
3,scenario_143,43166.933354,0.057417,595728.495656,638895.486427,5.454656,LOCALLY_SOLVED,hidden_8_prune
4,scenario_144,43680.390271,0.057413,622489.194553,666169.642237,6.816170,LOCALLY_SOLVED,hidden_8_prune

In [6]:
hidden_16_df = pd.read_csv("result_hidden_16_l1_41_grad_51_best.csv", index_col=False)
hidden_16_df["type"] = "hidden_16"
hidden_16_df.head()

,scenario,stage1_cost,stage1_pen,stage2_pen,objective,solve_time,termination_status,type
0,scenario_180,27445.122495,0.089707,6.646914e+06,6.674359e+06,5.277060,LOCALLY_SOLVED,hidden_16
1,scenario_181,43973.804878,0.475148,5.979968e+05,6.419711e+05,6.424266,LOCALLY_SOLVED,hidden_16
2,scenario_182,44324.135772,0.478547,5.942407e+05,6.385653e+05,6.703524,LOCALLY_SOLVED,hidden_16
3,scenario_183,44598.489503,0.478576,5.969642e+05,6.415632e+05,5.030261,LOCALLY_SOLVED,hidden_16
4,scenario_184,27384.367738,0.637672,6.400642e+06,6.428027e+06,3.108723,LOCALLY_SOLVED,hidden_16

In [7]:
hidden_32_df = pd.read_csv("result_hidden_32_l1_51_grad_541_best.csv", index_col=False)
hidden_32_df["type"] = "hidden_32"
hidden_32_df.head()

,scenario,stage1_cost,stage1_pen,stage2_pen,objective,solve_time,termination_status,type
0,scenario_180,46685.356228,0.135212,495676.077742,542361.569182,8.685678,LOCALLY_SOLVED,hidden_32
1,scenario_181,46468.391384,0.135254,491543.049343,538011.575981,4.954286,LOCALLY_SOLVED,hidden_32
2,scenario_182,46656.623726,0.176411,489571.112774,536227.912911,25.398391,LOCALLY_SOLVED,hidden_32
3,scenario_183,46872.991674,0.177430,522317.498282,569190.667385,3.991778,LOCALLY_SOLVED,hidden_32
4,scenario_184,46611.988655,0.135466,485762.223630,532374.347752,8.174741,LOCALLY_SOLVED,hidden_32

In [8]:
hidden_32_df_2 = pd.read_csv("result_hidden_32_l1_41_grad_31_best.csv", index_col=False)
hidden_32_df_2["type"] = "hidden_32 v2"
hidden_32_df_2.head()

,scenario,stage1_cost,stage1_pen,stage2_pen,objective,solve_time,termination_status,type
0,scenario_180,45466.966577,0.255978,566238.911420,611706.133975,16.005674,LOCALLY_SOLVED,hidden_32 v2
1,scenario_181,45302.745072,0.254031,547009.574769,592312.573872,14.634184,LOCALLY_SOLVED,hidden_32 v2
2,scenario_182,45421.708443,0.256447,561084.023954,606505.988845,25.704164,NUMERICAL_ERROR,hidden_32 v2
3,scenario_183,45623.214544,0.254436,589702.104702,635325.573683,7.191692,LOCALLY_SOLVED,hidden_32 v2
4,scenario_184,45318.692202,0.250018,540883.184975,586202.127195,17.702029,LOCALLY_SOLVED,hidden_32 v2

In [9]:
hidden_8_32_8_df = pd.read_csv("result_hidden_8_32_8_l1_51_grad_41_best.csv", index_col=False)
hidden_8_32_8_df["type"] = "hidden_8_32_8"
hidden_8_32_8_df.head()

,scenario,stage1_cost,stage1_pen,stage2_pen,objective,solve_time,termination_status,type
0,scenario_180,44378.259673,0.466356,913576.778844,957955.504873,4.753929,LOCALLY_SOLVED,hidden_8_32_8
1,scenario_181,43968.056477,0.317396,867435.423672,911403.797545,3.682068,LOCALLY_SOLVED,hidden_8_32_8
2,scenario_182,44217.356256,0.342678,867201.626727,911419.325660,3.390054,LOCALLY_SOLVED,hidden_8_32_8
3,scenario_183,44381.269504,0.344602,895510.209802,939891.823908,5.318376,LOCALLY_SOLVED,hidden_8_32_8
4,scenario_184,44280.476282,0.473904,917242.280709,961523.230896,3.911900,LOCALLY_SOLVED,hidden_8_32_8

In [10]:
hidden_8_64_8_df = pd.read_csv("result_hidden_8_64_8_l1_0_grad_41_best.csv", index_col=False)
hidden_8_64_8_df["type"] = "hidden_8_64_8"
hidden_8_64_8_df.head()

,scenario,stage1_cost,stage1_pen,stage2_pen,objective,solve_time,termination_status,type
0,scenario_180,44249.461888,0.419162,579331.247595,623581.128645,3.348326,LOCALLY_SOLVED,hidden_8_64_8
1,scenario_181,42878.089067,0.374750,597098.342326,639976.806143,3.291251,LOCALLY_SOLVED,hidden_8_64_8
2,scenario_182,44236.857728,0.418871,574134.420227,618371.696827,3.061305,LOCALLY_SOLVED,hidden_8_64_8
3,scenario_183,44736.918010,0.417510,580879.334074,625616.669594,3.125410,LOCALLY_SOLVED,hidden_8_64_8
4,scenario_184,44452.493243,0.418243,610049.626692,654502.538178,3.386353,LOCALLY_SOLVED,hidden_8_64_8

In [11]:
df = pd.concat([benchmark_df[:-5], hidden_8_df[:-5], hidden_16_df[:-5], hidden_32_df[:-5], hidden_8_32_8_df[:-5], hidden_8_64_8_df[:-5], hidden_32_df_2[:-5], hidden_8_prune_df[:-5]])
df_large = pd.concat([benchmark_df[-5:], hidden_8_df[-5:], hidden_16_df[-5:], hidden_32_df[-5:], hidden_8_32_8_df[-5:], hidden_8_64_8_df[-5:], hidden_32_df_2[-5:], hidden_8_prune_df[-5:]])

In [12]:
df.drop(columns="scenario", inplace=True)
df["termination_status"] = df["termination_status"] == "LOCALLY_SOLVED"
df["total_time"].fillna(df["solve_time"], inplace=True)
df.groupby("type").agg({"objective": ["mean", "std"], "solve_time": ["mean", "std"], "total_time": ["mean", "std"], "stage1_cost": ["mean", "std"], "stage1_pen": ["mean", "std"], "stage2_pen": ["mean", "std"], "termination_status": ["sum"]})

                   objective               solve_time            total_time
                        mean           std       mean        std       mean
type
benchmark       1.359627e+06  6.091094e+04   9.276888   0.072168  24.951927  \
hidden_16       4.026682e+06  3.011615e+06   5.278171   1.569037   5.278171
hidden_32       5.539752e+05  1.957712e+04   9.838407  11.113256   9.838407
hidden_32 v2    6.099992e+05  2.513204e+04  16.437959   7.112859  16.437959
hidden_8        6.504994e+05  1.259984e+04   5.245105   1.369015   5.245105
hidden_8_32_8   9.777391e+05  1.690237e+05   3.852974   0.782159   3.852974
hidden_8_64_8   6.259218e+05  1.030103e+04   3.493812   0.417340   3.493812
hidden_8_prune  6.651424e+05  3.988612e+04   6.259354   1.975761   6.259354

                            stage1_cost              stage1_pen
                      std          mean          std       mean       std
type
benchmark        0.182494  34241.891591   361.279578   0.031085  0.000743  \
hidden_16        1.569037  34690.370862  8639.600087   0.409388  0.264948
hidden_32       11.113256  46681.304534   214.124786   0.157869  0.022951
hidden_32 v2     7.112859  45449.745271   277.567487   0.254284  0.002684
hidden_8         1.369015  43331.645213   403.660956   0.057750  0.000364
hidden_8_32_8    0.782159  43969.979332  1510.727961   0.393110  0.067979
hidden_8_64_8    0.417340  44286.246546   516.315993   0.415677  0.011450
hidden_8_prune   1.975761  43233.991843  1119.404788   0.087924  0.121339

                  stage2_pen               termination_status
                        mean           std                sum
type
benchmark       1.325386e+06  6.071956e+04                 21
hidden_16       3.991991e+06  3.020174e+06                 21
hidden_32       5.072937e+05  1.940542e+04                 20
hidden_32 v2    5.645492e+05  2.486097e+04                 19
hidden_8        6.071677e+05  1.223858e+04                 21
hidden_8_32_8   9.337688e+05  1.704821e+05                 21
hidden_8_64_8   5.816351e+05  1.049908e+04                 21
hidden_8_prune  6.219084e+05  4.071497e+04                 16

In [76]:
df_large.drop(columns="scenario", inplace=True)
df_large["termination_status"] = df_large["termination_status"] == "LOCALLY_SOLVED"
df_large["total_time"].fillna(df_large["solve_time"], inplace=True)
df_large.groupby("type").agg({"objective": ["mean", "std"], "solve_time": ["mean", "std"], "total_time": ["mean", "std"], "stage1_cost": ["mean", "std"], "stage1_pen": ["mean", "std"], "stage2_pen": ["mean", "std"], "termination_status": ["sum"]})

                  objective               solve_time            total_time
                       mean           std       mean        std       mean
type
benchmark      1.379132e+06  1.375763e+05   9.252182   0.043052  24.902212  \
hidden_16      2.716950e+06  2.860733e+06   5.516349   1.594919   5.516349
hidden_32      5.742366e+05  5.022350e+04   5.005247   1.698739   5.005247
hidden_32 v2   5.974944e+05  4.716207e+04  23.402103  10.336440  23.402103
hidden_8       6.601148e+05  2.531122e+04   7.536247   3.706512   7.536247
hidden_8_32_8  9.019847e+05  7.540228e+04   9.218676  11.355460   9.218676
hidden_8_64_8  6.220709e+05  2.586406e+04   3.665763   0.434097   3.665763

                           stage1_cost              stage1_pen
                     std          mean          std       mean       std
type
benchmark       0.134136  34418.630877   702.545990   0.031084  0.000564  \
hidden_16       1.594919  37699.171288  9644.683316   0.483150  0.254354
hidden_32       1.698739  46740.384618   493.890963   0.221112  0.111375
hidden_32 v2   10.336440  45512.978116   787.287676   0.222022  0.065198
hidden_8        3.706512  43494.914024   814.901800   0.057321  0.000249
hidden_8_32_8  11.355460  43598.897121  2307.860440   0.389042  0.098384
hidden_8_64_8   0.434097  44494.730445   976.095769   0.320991  0.136868

                 stage2_pen               termination_status
                       mean           std                sum
type
benchmark      1.344713e+06  1.370862e+05                  5
hidden_16      2.679250e+06  2.870301e+06                  5
hidden_32      5.274960e+05  4.974601e+04                  5
hidden_32 v2   5.519812e+05  4.638699e+04                  3
hidden_8       6.166198e+05  2.456501e+04                  5
hidden_8_32_8  8.583854e+05  7.329559e+04                  5
hidden_8_64_8  5.775759e+05  2.663200e+04                  5